.person-list {
  list-style: none;
  padding: 0;
}
h3 {
  text-decoration: underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  color: rgb(241, 19, 19);
  font-weight: bold;
}

.mentor-students {
  height: 100vh;
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.list {
  border: 0.5px solid black;
  background-color: rgb(121, 120, 120);
  display: flex;
  align-items: flex-start;
  font-size: 1.5rem;
  padding: 5px;
}
.list input[type="radio"] {
  border: 2px;
  width: 15px;
  height: 15px;
  padding: 5px;
}
.list input[type="checkbox"] {
  border: 2px;
  width: 15px;
  height: 15px;
  padding: 5px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}

.button:hover {
  background-color: hsl(22, 83%, 50%);
  color: white;
}
